$colors: (
  common: (
    "white": #ffffff,
    "black": #09162b,
    "border": #e8e8e8,
    "placeholder": #787878,
    "body-text": #787878,
  ),
  theme: (
    "1": #003773,
    "2": #ff4917,
    "3": #1765e5,
    "4": #f3f6f9,
    "5": #083260,
  ),
);
