@use "../abstract" as *;

// breadcrumb style

.page-title__area {
  position: relative;
}
.valign {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title-full {
  min-height: 745px;
  @media #{$xxl} {
    min-height: 600px;
  }
  @media #{$xl,$lg} {
    min-height: 500px;
  }
  @media #{$md} {
    min-height: 450px;
  }
  @media #{$sm,$xs} {
    min-height: 400px;
  }
}
.page-title__thumb {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: luminosity;
  background-position: center;
  z-index: -1;
  opacity: 0.1;
  &.style-2 {
    mix-blend-mode: normal;
    background-position: bottom;
  }
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--clr-theme-1);
    top: 0;
    inset-inline-start: 0;
    z-index: -1;
    opacity: 0.15;
  }
}
.page-title__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.page-title__content {
  text-align: center;
  @media #{$xs} {
    text-align: start;
  }
}
.page__subtitle {
  margin-bottom: 15px;
  display: inline-block;
  &.bg-filled {
    line-height: 28px;
    letter-spacing: 0em;
    padding: 0 12px;
    border-radius: 30px;
    color: var(--clr-common-white);
    background: var(--clr-theme-3);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}
.page__title {
  font-size: 74px;
  line-height: 1.1;
  font-weight: 600;
  @media #{$xl} {
    font-size: 70px;
  }
  @media #{$xl} {
    font-size: 65px;
  }
  @media #{$lg} {
    font-size: 60px;
  }
  @media #{$md} {
    font-size: 55px;
  }
  @media #{$sm} {
    font-size: 50px;
  }
  @media #{$xs} {
    font-size: 40px;
  }
}
