/*----------------------------------------
	02. buttons css
----------------------------------------*/

@use "../abstract" as *;

.btn-rounded {
  border-radius: 60px;
}
// default button
.primary-btn {
  height: 60px;
  padding: 0 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--clr-common-white);
  display: inline-flex;
  gap: 6px;
  background: var(--clr-theme-3);
  justify-content: center;
  align-items: center;
  @include transition(0.4s);
  border-radius: 60px;
  &:focus{
    color: var(--clr-common-white);
  }
  &:hover {
    color: var(--clr-common-white);
    background: var(--clr-theme-5);
    .icon__first {
      transform: translateX(150%);
    }
    .icon__second {
      transform: translateX(00%);
    }
  }
  &.hover-white {
    &:hover {
      color: var(--clr-common-black);
      background-color: var(--clr-common-white);
    }
  }
  .icon__box {
    transform: rotate(-45deg);
    &.demo-btn {
      transform: rotate(90deg);
    }
  }
  &.bordered {
    border: 1.5px solid var(--clr-theme-3);
    background: transparent;
    color: var(--clr-theme-3);
    &:hover {
      background: var(--clr-theme-3);
      border-color: transparent;
      color: var(--clr-common-white);
    }
    &.is-white {
      border: 1.5px solid var(--clr-theme-4);
      color: var(--clr-common-white);
      &:hover {
        background: var(--clr-theme-4);
        border-color: transparent;
        color: var(--clr-common-black);
        .icon__box {
          img {
            filter: brightness(10%);
          }
        }
      }
    }
  }
  &.btn-x-small {
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
  }

  &.btn-small {
    height: 50px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 500;
  }
  &.btn-large {
    height: 70px;
    padding: 0 50px;
    font-size: 20px;
  }
  &.btn-extra-large {
    height: 85px;
    padding: 0 70px;
    font-size: 22px;
  }
  &.sign-btn {
    border-radius: 6px;
  }
}
.border-bottom-btn {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  display: inline-flex;
  position: relative;
  &:focus{
    color: var(--clr-common-white);
  }
  &:hover {
    &:after {
      left: 0;
      width: 100%;
    }
  }
  &:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 4px;
    right: auto;
    left: 0;
    bottom: -4px;
    background: var(--clr-theme-2);
    @include transition(0.5s);
  }
}
.circle-btn {
  width: 70px;
  height: 70px;
  border: 1px solid #14141420;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  @media #{$xs} {
    width: 50px;
    height: 50px;
  }
  &:focus{
    color: var(--clr-common-white);
  }
  .icon__box {
    transform: rotate(-45deg);
  }
  &.is-blue {
    transform: rotate(-45deg);
    &:hover {
      background: var(--clr-theme-3);
      transform: rotate(0);
      .icon {
        filter: invert(95%) sepia(67%) saturate(2%) hue-rotate(246deg)
          brightness(104%) contrast(100%);
      }
    }
  }
  &:hover {
    background-color: var(--clr-theme-3);
    .icon__first {
      transform: translateX(150%);
    }
    .icon__second {
      transform: translateX(00%);
    }
  }
  &.is-white {
    border-color: var(--clr-common-white);
    background: var(--clr-common-white);
  }
  &.color-2 {
    border-color: var(--clr-theme-3);
    background: var(--clr-theme-3);
  }
  &.rotate {
    transform: rotate(-90deg);
  }
  &.newsletter-btn {
    width: 60px;
    height: 60px;
    border-color: transparent;
    background: var(--clr-theme-3);
    &:focus{
      color: var(--clr-common-white);
    }
    .icon__box {
      i {
        font-size: 22px;
        color: var(--clr-common-white);
        transform: rotate(45deg);
        display: inline-block;
        margin-top: 10px;
      }
    }
  }
}
.img-circle-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  &:focus{
    color: var(--clr-common-white);
  }
  .image-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: rotate 20s linear infinite;
  }
  .circle-btn {
    width: 100%;
    height: 100%;
    border-color: transparent;
    background: var(--clr-theme-3);
    z-index: 1;
    padding: 10%;
    background-clip: content-box;
    transition: all 0.3s linear;
    &:hover {
      background-color: var(--clr-common-white);
    }
  }
  .icon__box {
    img {
      width: 40px;

      @media #{$lg,$md} {
        width: 30px;
      }

      @media #{$sm,$xs} {
        width: 26px;
      }
    }
  }
  &.is-white {
    .image-text {
      filter: invert(77%) sepia(3%) saturate(3245%) hue-rotate(193deg)
        brightness(111%) contrast(106%);
    }
  }
}
.load-btn {
  height: 60px;
  padding: 0 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--clr-common-white);
  display: inline-flex;
  gap: 10px;
  background: var(--clr-theme-3);
  justify-content: center;
  align-items: center;
  @include transition(0.4s);
  border-radius: 60px;
  &:focus{
    color: var(--clr-common-white);
  }
  &:hover {
    color: var(--clr-common-white);
    background: var(--clr-theme-5);
    .fa-spinner {
      animation-name: fa-spin;
      animation-duration: var(--fa-animation-duration, 5s);
      animation-iteration-count: var(--fa-animation-iteration-count, infinite);
      animation-timing-function: var(--fa-animation-timing, linear);
      animation-direction: alternate;
    }
  }
  i {
    color: var(--clr-common-white);
    font-size: 24px;
  }
}
.slider__nav-btn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: var(--clr-common-black);
  background: #e7e7e7;
  @include transition(0.3s);
  &:focus{
    color: var(--clr-common-white);
  }
  &.swiper-button-disabled {
    background: #f8f8f8;
    color: #b9b9b9;
    pointer-events: none;
    &:hover {
      color: inherit;
      background: inherit;
    }
  }
  &:hover {
    color: var(--clr-common-white);
    background: var(--clr-theme-3);
  }
  i {
    font-weight: 400;
  }
}
.circle-nav-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: var(--clr-theme-2);
  background: rgba(20, 207, 147, 0.15);
  @include transition(0.3s);
  &:focus{
    color: var(--clr-theme-2);
  }
  &:hover {
    color: var(--clr-common-white);
    background: var(--clr-theme-2);
  }
  i {
    font-weight: 400;

    @include rtl {
      transform: rotateY(180deg);
    }
  }
}
.icon-box-upward {
  transform: rotate(-45deg);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #191919;
  font-size: 20px;
  position: relative;
  &:hover {
    i {
      animation: iconltr 0.5s forwards;
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9;
    transform: rotate(45deg);
  }
}
// text btn
.text-btn {
  color: var(--clr-theme-3);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 15px;

  &:hover {
    color: var(--clr-theme-2);
  }
}
.arrow-text-btn {
  color: var(--clr-theme-1);
  display: inline-flex;
  align-items: center;
  gap: 13px;
  line-height: 1;
  &:hover {
    color: var(--clr-theme-2);
    span {
      &:before {
        transform: scaleX(1);
        background: var(--clr-theme-2);
      }
    }
  }
  i {
    font-size: 20px;
  }
  span {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    &:before {
      position: absolute;
      left: 0;
      bottom: -2px;
      right: 0;
      height: 1px;
      content: "";
      transform: scaleX(0);
      transform-origin: center;
      transform-style: preserve-3d;
      transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.22);
      background: var(--clr-theme-1);
      z-index: -1;
    }
  }
}
.c-button {
  border-radius: 100rem;
  width: 200px;
  height: 200px;
  border: 0;
  background: transparent;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: 1s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:after,
  &:before {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: #111111;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-180deg);
    transform-origin: left;
    transition: 0.4s ease-out;
  }
  &:before {
    transition-delay: 0.15s;
  }
  &:after {
    background-color: #14cf93;
  }
  &:hover {
    transform: scale(1);
    border-color: #14cf93;
    &:after,
    &:before {
      top: 0;
      left: 0;
      transform: rotate(0deg);
      transition: 0.4s ease-out;
    }
    &:after {
      transition-delay: 0.15s;
    }
    .c-button__text {
      color: var(--clr-common-white);
    }
  }
  &__border {
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    top: 0;
    left: 0;
    transition: 0.4s ease-out;
    border: 1px solid #4f4f4f;
  }
  &__text {
    position: relative;
    display: block;
    z-index: 2;
    font-size: 16px;
    color: #2c2c2c;
    line-height: 25px;
    transition: 0.4s ease-out;
  }
}
// play btn
.play-btn {
  width: 90px;
  height: 90px;
  font-size: 16px;
  background-color: var(--clr-theme-3);
  display: inline-flex;
  border-radius: 50%;
  color: var(--clr-common-white);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: pulse 2s infinite;
  @media #{$sm,$xs} {
    width: 70px;
    height: 70px;
    font-size: 16px;
  }
  &:focus{
    color: var(--clr-common-white);
  }
  &:visited {
    background-color: var(--clr-theme-3);
    color: var(--clr-common-white);
  }
  &:hover {
    background-color: var(--clr-common-white);
    color: var(--clr-common-black);
  }
}
/* link btn */
.link-btn {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: var(--clr-common-black);
  text-transform: uppercase;
  padding-inline-end: 15px;
  & i {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    &:first-child {
      inset-inline-start: -100%;
      visibility: hidden;
      opacity: 0;
    }
    &:last-child {
      inset-inline-end: 0;
    }
  }
  &:hover {
    color: var(--clr-common-black);
    & i:first-child {
      inset-inline-start: 0;
      visibility: visible;
      opacity: 1;
    }
    & i:last-child {
      inset-inline-end: -100%;
      visibility: hidden;
      opacity: 0;
    }
  }
}
.link-btn-2 {
  position: relative;
  font-size: 14px;
  color: var(--clr-common-black);
  font-weight: 500;
  padding-inline-end: 22px;
  display: inline-block;
  text-transform: uppercase;
  & i {
    position: absolute;
    top: 45%;
    @include transform(translateY(-50%));
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    font-size: 12px;
    &:first-child {
      inset-inline-end: 10%;
      visibility: hidden;
      opacity: 0;
    }
    &:last-child {
      inset-inline-end: 0;
    }
  }
  &:hover {
    color: var(--clr-common-black);
    & i {
      &:first-child {
        inset-inline-end: 0;
        visibility: visible;
        opacity: 1;
      }
      &:last-child {
        inset-inline-end: -10%;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  &.pink {
    color: var(--clr-common-black);
    &:hover {
      color: var(--clr-common-black);
    }
  }
}
/* pulse btn */
.pulse-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 84px;
  text-align: center;
  background-color: var(--clr-common-white);
  @include border-radius(50%);
  color: var(--clr-common-black);
  animation: pulse 2s infinite;
  &:hover {
    background-color: var(--clr-common-black);
    color: var(--clr-common-white);
  }
  & i {
    padding-inline-start: 2px;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(85, 174, 251, 1);
    box-shadow: 0 0 0 0 rgba(85, 174, 251, 1);
  }
  70% {
    -moz-box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
// link style
.link-scroll-wrapper {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.link-scroll-line {
  &__heading {
    font-size: 120px;
    font-weight: 700;
    line-height: 1.08;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 0;
    @media #{$xxl} {
      font-size: 110px;
    }
    @media #{$xl} {
      font-size: 100px;
    }
    @media #{$lg} {
      font-size: 80px;
    }
    @media #{$md} {
      font-size: 70px;
    }
    @media #{$sm,$xs} {
      font-size: 60px;
    }
    @media #{$xxs} {
      font-size: 50px;
    }
    &-2 {
      font-size: 200px;
      font-weight: 700;
      line-height: 1.08;
      text-transform: uppercase;
      white-space: nowrap;
      margin-bottom: 0;

      @media #{$xxl} {
        font-size: 110px;
      }
      @media #{$xl} {
        font-size: 100px;
      }
      @media #{$lg} {
        font-size: 80px;
      }
      @media #{$md} {
        font-size: 70px;
      }
      @media #{$sm,$xs} {
        font-size: 60px;
      }
      @media #{$xxs} {
        font-size: 50px;
      }
      .link-separate-icon {
        svg {
          width: 50px;
          height: auto;
        }
      }
    }
    .stroke-text {
      font-size: inherit;
    }
  }
}
// df-text-btn
.df-text-btn {
  @include flexbox();
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    .icon__first {
      transform: translateX(150%);
    }
    .icon__second {
      transform: translateX(0%);
    }
  }
  .icon__box {
    transform: rotate(-45deg);
  }
}
// icon__box
.icon__box {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  padding: 0 4px;
  &:hover {
    .icon__first {
      transform: translateX(150%);
    }
    .icon__second {
      transform: translateX(0%);
    }
  }
  .icon__second {
    position: absolute;
    transform: translateX(-150%);
  }
}
// pagination button
.df__pagination {
  @include flexbox();
  gap: 10px;
  .swiper-pagination-bullet {
    width: 14px;
    height: 7px;
    border-radius: 0;
    margin: 0 !important;
    background: var(--clr-common-black);
    opacity: 1;
    border-radius: 14px;
  }
  .swiper-pagination-bullet-active {
    width: 23px;
    background: var(--clr-theme-3);
  }
}
// pagination style
.circle-dot-pagination {
  @include flexbox();
  gap: 4px;
  .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    border-radius: 50%;
    opacity: 1;
    margin: 0 !important;
    position: relative;
    background: none;
    &.swiper-pagination-bullet-active {
      border-color: var(--clr-theme-2);
    }
    &:before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      background: var(--clr-theme-2);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.wh-200 {
  width: 200px;
  height: 200px;
  @media #{$lg,$md} {
    width: 150px;
    height: 150px;
  }
  @media #{$sm,$xs} {
    width: 120px;
    height: 120px;
  }
}
