$colors: (
	common: (
		"white": #ffffff,
		"black": #09162B,
		"border": #E8E8E8,
		"placeholder": #787878,
		"body-text": #787878,
		"body-bg": #f7fbff,
	),
	theme: (
		"1": #003773,
		"2": #FF4917,
		"3": #1765E5,
		"4": #F3F6F9,
		"5": #083260,
	),
);